/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(5,5,5);
}

a {
	text-decoration: none;
	color: inherit;
}

/* NAV */

.logo-container {
	justify-content: flex-start;
}

.logo {
	width: 14em;
	height: 6em;
}

.header {
	position: relative;
	top: 0%;
	padding: 1em 5%;
	background-color: rgb(5,5,5);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.nav-list {
	list-style-type: none; 
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-basis: 35%;
	align-items: center;
	background-color: inherit;
	animation-name: zoomIn;
	animation-duration: 1.5s;
	animation-delay: 0s;
	animation-timing-function: ease-out;
}

.nav-list li {
	background-color: inherit;
	display: inline;
	color: #FFFFF6;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	flex-basis: auto;
	padding: .35em;
	margin: 0 1em;
	max-width: auto;
	max-height: 2em;
}

.nav-list li:hover {
	padding: .35em;
	background-color: #FFFFF6;
	color: rgb(25,25,25);
	border-radius: .5em;
}

/*.top-section {
	background-color: rgb(25,25,25);
}*/

/******* TOP SECTION *******/


.header-content {
	display: flex;
	z-index: 1;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 30em;
	background-image: url(../img/adrianHeader.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/*.header-content:before {
	content: "";
    position: absolute;
    top: 8.55em;
    left: 0;
    width: 50%;
    height: 41px;
    background-color: rgb(25,25,25);
}*/

.header-line {
	display: flex;
	flex-direction: row;
}

.header-line:nth-child(1) {
	animation-name: fadeInRight;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

.header-line:nth-child(4){
	animation-duration: 1.5s;
	animation-name: fadeInRight;
	animation-timing-function: ease-out;
}
.header-line:nth-child(5) {
	animation-name: fadeInRight;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

.header-line:nth-child(2) {
	justify-content: flex-end;
	animation-name: fadeInLeft;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

.header-line:nth-child(3) {
	justify-content: flex-end;
	animation-name: fadeInLeft;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

.header-line:nth-child(6) {
	justify-content: flex-end;
	animation-name: fadeInLeft;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

.shake {
	animation-name: rubberBand;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

.header-text {
	display: inline-block;
    color: rgb(255,255,255);
    transition: transform 1.2s cubic-bezier(1,0,.25,1);
    line-height: 1.25em;
    font-size: 3.15em;
    font-family: sans-serif;
}

.background-overlay {
	background-color: rgba(0,0,0,0.2);
	height: 100%;
	width: 100%;
	padding: 1em .5em 1em .5em;
}

/************ SKILLS ************/

#last-content {
	margin-bottom: 2.5em;
}

.skills:before {
	content: "";
    position: absolute;
    top: -2.5em;
    left: 0;
    width: 50%;
    height: 3.5em;
    background-color: #FFFFF6;
}

.skills:after {
	content: "";
    position: absolute;
    bottom: -2.55em;
    right: 0;
    width: 50%;
    height: 41px;
    background-color: #FFFFF6;
}

.skills {
	color: #656a70;
    background-color: #FFFFF6;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 2.5em;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 5;
}

.row {
	display: flex;	
	flex-direction: column;
	flex-wrap: nowrap;
}

.skill-title {
	font-size: 3em;
	justify-content: center;
	margin-bottom: 0; 
	z-index: 2;
	flex-direction: row;

}

.skill-subtitle {
	font-size: 1.4em;
	color: rgb(10,10,10); 
	/*color: #e3e3e3;*/
}

.skill-list {
	background-color: rgb(55,55,55);
	padding: 1.5em;
	line-height: 1.75em;
	border-radius: .35em;
	font-size: 1em;
	font-weight: 600;
	color : #FFFFF6;
}



.wrapper-start {
	margin-top: 2em;
	flex-basis: 40%;
	padding: 0 0 2em 15%;
	justify-content: flex-end;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.wrapper-end {
	margin-top: 2em;
	flex-basis: 37%;
	padding: 0 0 2em 18%;
	align-self: center;
	justify-content: flex-end;
	display: flex;
	flex-direction: column;	
}

.content {
	margin:auto 0;
}

.skill-title {
	color: black;
}

.subtitle-emp {
	color: blue;
}

#first-img {
	max-width: 13em;
	max-height: 21em;
	top: 4em;
}

.skill-img {
	width: 13em;
	height: 21em;
	max-width: 14em;
}



.aside a {

	font-size: .5em;
	margin-top: .25em;
	margin-left: .55em;
}

.img-container {
	width: 100%;
	margin: 0 auto;
}

.img-container img {
	max-width: 100%;
	max-height: 100%;
}

.aws-cert {
	height: auto;
	width: auto;
}

#cloud {
	height: 12em;
	width: 16em;
}

/************ FOOTER ************/

.footer {
	background-color: rgb(25,25,25);
	color: white;
	margin: 0;
	padding: 3.5em 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.sm-container {
	display: flex;
	flex-direction: row;
	margin: .55em 0 0 034	
}

.sm-item {
	padding: 1em;
}

.sm-item:nth-child(1) {
	align-self: flex-start;
}
.sm-item:nth-child(2) {
	align-self: center;
}
.sm-item:nth-child(3) {
	align-self: flex-end;
}

.copyright {
	margin: 1.05em 0 -1.5em 0;
	font-size: 1.25em;
	font-weight: bold;
}

.footer-logo {
	
}

/************ BLOG ************/

.blog-content {
	background-color: white;
	display: flex;
	flex-direction: column; 
	margin-bottom: 2em auto;
}
.blog-header-ctn {
	display: block;
	width: 45%;
	flex-basis: 45%;
	max-width: 500px;
	margin: 4em auto 0;
}

.blog-header {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	margin-top: .25em;
	margin-bottom: .35em;
}

.blog-post-ctn {
	margin-left: 4em;
	margin-right: 4em;
	margin-top: 4em;
	margin: 2em 4em 4em 4em;  
}

.blog-post {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 30%;
	max-width: 400px;
	flex-basis: 30%;
	border: .05em solid rgb(25,25,25);
	padding: .5em .65em;
	box-shadow: 0 0.125em 0.125em 0em rgb(30,30,30);
}

.thumbnail-ctn {
	width: 93%;
	margin: .25em 3.4%;
	overflow: hidden;
}

.blog-thumbnail {
	width: 100%;
	max-height: 11em;
}
.blog-metadata {
	width: 100%;
}

.blog-title {
	text-align: center;
}
.blog-date {
	text-align: right;
	margin-bottom: -.3em;
}

.blog-date span {
	font-size: .6em;
}

/************ BLOG CSS ************/
.be-header {
	padding-top: 1.25em;
}

.be-title {
	text-align: center;
}

.be-meta {
	margin-top: .625rem;
	padding-top: .55em;
	padding-bottom: .55em;
	text-align: center;
	align-content: center;
	border-top: 1px dotted #ebebeb;
	border-bottom: 1px dotted #ebebeb;
	width: 25%;
	margin: 0 auto;
}

.be-container {
	width: 75%;
	margin-left: 12.5%;
	padding-bottom: 1.65em;
}

.be-p {
	
}

.be-hlght-small {
	color: #242424;
}

.be-list-ctn {
	color: #4F4F4F;
}

.be-list {
	color: #4F4F4F;
}
/************ ABOUT ************/

.about-section {
	
}
/************ Phone Media Queries ************/

@media screen and (min-width: 10em) and (max-width: 600px) {
	.header {
		flex-direction: column;
	}
	.logo-container {
		flex-basis: auto;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
	}
/*	.logo-container
	.logo {
		width: 200px;
		height: auto;
	}*/
	.nav-list {
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
		padding-left: 0;
	}
	.header-content {
		background-size: 100% 12em;
		background-repeat: no-repeat;
		height: 32em;
	}
	.background-overlay {
		position: relative;
		top: 12em;
	}

	.header-text {
		font-size: 2.5em;
	}
	.skills:before {
		top: -2.5em;
	}
	.skills {
		margin-top: 15em;
		top: 0;
		flex-direction: column;
	}
	./*skills-container {
		margin: 0 auto;
		width: 100%;
	}*/
	/*.wrapper-start {
		padding: 0; 
	}
	.wrapper-end {
		padding: 0;

	}*/
	.content {
		flex-basis: 80%;
		margin: 0.25em 10%;
	}
	.thumbnail {
		flex-basis: auto;
		margin: 0 auto;	
	}
	.skill-subtitle {
		align-self: center;
		font-size: 2em;
	}
	.skill-list {
		flex-basis: 80%;
		margin: 0 10%;
	}
	.skill-description {
		font-size: 1.5em;
		line-height: 1.5em;
		padding: 0 0.5em;
	}
	.wrapper-start:nth-child(1) h1.skill-title {
	}
	#one {
		order: 1;
		flex-basis: 80%;
		margin: 0 10% 3em 10%; 
		padding: 0;
	}
	#two {
		order: 2;
		flex-basis: 15.05em;
		width: 15.05em;
		margin: 0 auto;
		padding: 0;
	}
	#three {
		order: 3;
		flex-basis: 80%;
		margin: 0 10% 3em 10%; 
		padding: 0;
	}
	#four {
		order: 4;
		padding: 0;
	}
	#five {
		order: 5;
		padding: 0;
		margin: 0 0 3em 0;
	}

	#six {
		order: 6;
		padding: 0;
		margin: 0 0 3em 0;
	}
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

}